@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --color-primary: oklch(0.779 0.092 144.16);
  --color-primary-50: oklch(0.98 0.008 145.27);
  --color-primary-100: oklch(0.96 0.017 145.33);
  --color-primary-200: oklch(0.91 0.035 143.92);
  --color-primary-300: oklch(0.87 0.053 144.22);
  --color-primary-400: oklch(0.822 0.074 144.26);
  --color-primary-500: oklch(0.779 0.092 144.16);
  --color-primary-600: oklch(0.687 0.13 143.72);
  --color-primary-700: oklch(0.573 0.12 143.52);
  --color-primary-800: oklch(0.428 0.085 143.45);
  --color-primary-900: oklch(0.28 0.05 143.16);
  --color-primary-950: oklch(0.193 0.029 144.33);

  

  --color-secondary-50: oklch(0.966 0.008 253.85);
  --color-secondary-100: oklch(0.931 0.017 256.29);
  --color-secondary-200: oklch(0.861 0.036 254.88);
  --color-secondary-300: oklch(0.784 0.057 251);
  --color-secondary-400: oklch(0.714 0.077 248.94);
  --color-secondary-500: oklch(0.646 0.07 248.28);
  --color-secondary-600: oklch(0.577 0.062 248.18);
  --color-secondary-700: oklch(0.5 0.054 248.95);
  --color-secondary-800: oklch(0.43 0.047 250.06);
  --color-secondary-900: oklch(0.36 0.039 248.95);
  --color-secondary-950: oklch(0.25 0.027 246.75);

  --font-body: 'IBM Plex Mono', sans-serif;
  --font-heading: 'Nordminne', script;
  
}

  
  @utility slice-title {
    font-family: var(--font-heading);
    line-height: 3rem;
    font-size: var(--text-xl);
    text-wrap: balance;
  line-height: 1;
  margin-bottom: var(--spacing-6);
  
  @variant sm {
    font-size: var(--text-4xl);
  }
  
  @variant lg {
    font-size: var(--text-5xl);
  }
  
  @variant xl {
    font-size: var(--text6xl);
  }
}


@utility container {
  padding-inline: var(--spacing-6);
  margin-inline: auto;
  
  @variant sm {
    padding-inline: 20px;
  }
  
  @variant lg {
    padding-inline: 80px;
  }
  
  @variant xl {
    padding-inline: 120px;
  }
}

@utility container{
  
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
}

body{
  @apply font-body bg-neutral-100;
}